site_name: MpGAP pipeline
repo_url: https://github.com/fmalmeida/mpgap
repo_name: fmalmeida/mpgap
extra_css:
- stylesheets/extra.css
nav:
- Home: index.md
- Installation: installation.md
- Quickstart: quickstart.md
- Samplesheet: samplesheet.md
- Non-bacterial example use case: non_bacteria.md
- Outputs: outputs.md
- Manual: manual.md
- Config template: config.md
- Selecting NF profiles: profiles.md
theme:
  name: material
  palette:
    primary: blue
    accent: red
  icon:
    repo: fontawesome/brands/github-alt
  features:
  - content.code.copy
plugins:
- git-revision-date
- search
- macros
markdown_extensions:
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- tables
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets
- admonition
- pymdownx.details
- attr_list
- md_in_html
- pymdownx.superfences
- pymdownx.critic
- pymdownx.caret
- pymdownx.keys
- pymdownx.mark
- pymdownx.tilde
