// docker profile
params.selected_profile = "docker"
singularity.enabled     = false
docker.enabled          = true
docker.runOptions       = '-u \$(id -u):\$(id -g)'
fixOwnership            = true
process {
    withName:  '.*' {
        container = "fmalmeida/mpgap@sha256:28223374b5500b09ae467064d825b44d086c99f1ade6afa80dbf8fd0053d760e"
    }
}