// docker profile
params.selected_profile = "docker"
singularity.enabled     = false
docker.enabled          = true
docker.runOptions       = '-u \$(id -u):\$(id -g)'
fixOwnership            = true
process {
    withName:  '.*' {
        container = "fmalmeida/mpgap@sha256:f640835dad87d98ded0582271aafaebe609f9196618f52a46ac10d991a0fce27"
    }
}