// docker profile
params.selected_profile = "docker"
singularity.enabled     = false
docker.enabled          = true
docker.runOptions       = '-u \$(id -u):\$(id -g)'
// fixOwnership            = true
process.container       = "fmalmeida/mpgap@sha256:1764982649f4b18b6346a1d280ab2693be45fcf4a319691faf0f9ff1364cd690"