// singularity profile
params.selected_profile = "singularity"
docker.enabled          = false
singularity.enabled     = true
singularity.autoMounts  = true
process {
    withName: '.*' {
        container = "docker://fmalmeida/mpgap@sha256:e0922a010f9407ec48d52babfae26bac43eb6f28bb0959e9ab53b9e9bba2005b"
    }
}
