// singularity profile
params.selected_profile = "singularity"
docker.enabled          = false
singularity.enabled     = true
singularity.autoMounts  = true
process {
    withName: '.*' {
        container = "docker://fmalmeida/mpgap@sha256:6cd3680958574a8a6c427ea7f31172c44d50cdb960d71e85a6b44eae3c7afc80"
    }
}