// singularity profile
params.selected_profile = "singularity"
docker.enabled          = false
singularity.enabled     = true
singularity.autoMounts  = true
process.container       = "docker://fmalmeida/mpgap@sha256:6cd3680958574a8a6c427ea7f31172c44d50cdb960d71e85a6b44eae3c7afc80"
process {
    // custom configuration for CUSTOM_DUMPSOFTWAREVERSIONS
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.20--pyhdfd78af_0'
    }
}