/*

Testing profiles for MpGAP

*/
profiles {
    
    sreads {
        params {
            input      = "$baseDir/assets/illumina_test.yml"
            output     = "sreads_test"
            tracedir   = "sreads_test/pipeline_info"
            max_memory = '6.GB'
            max_cpus   = 2
            max_time   = '6.h'
        }
    }

    lreads {

        params {
            max_memory = '10.GB'
            max_cpus   = 3
            max_time   = '6.h'
            flye_additional_parameters = ' --asm-coverage 3 '
            canu_additional_parameters = 'stopOnLowCoverage=5 '
        }
        
        profiles {
            
            ont {
                params {
                    input      = "$baseDir/assets/lreads_test_ont.yml"
                    output     = "lreads_test_ont"
                    tracedir   = "lreads_test_ont/pipeline_info"
                }
            }
            pacbio {
                params {
                    input      = "$baseDir/assets/lreads_test_pacbio.yml"
                    output     = "lreads_test_pacbio"
                    tracedir   = "lreads_test_pacbio/pipeline_info"
                }
            }

        }

    }

    hybrid {
        params {
            input      = "$baseDir/assets/hybrid_test.yml"
            output     = "hybrid_test"
            tracedir   = "hybrid_test/pipeline_info"
            max_memory = '6.GB'
            max_cpus   = 2
            max_time   = '6.h'
        }
    }

}