/*

Testing profiles for MpGAP

*/
profiles {
    
    sreads {
        params {
            input      = "$baseDir/assets/illumina_test.yml"
            output     = "sreads_test"
            tracedir   = "sreads_test/pipeline_info"
            max_memory = '6.GB'
            max_cpus   = 4
            max_time   = '6.h'
        }
    }

    lreads {
        params {
            input      = "$baseDir/assets/lreads_test.yml"
            output     = "lreads_test"
            tracedir   = "lreads_test/pipeline_info"
            max_memory = '6.GB'
            max_cpus   = 4
            max_time   = '6.h'
        }
    }

    hybrid {
        params {
            input      = "$baseDir/assets/hybrid_test.yml"
            output     = "hybrid_test"
            tracedir   = "hybrid_test/pipeline_info"
            max_memory = '6.GB'
            max_cpus   = 4
            max_time   = '6.h'
        }
    }

}