/*

Testing profiles for MpGAP

*/
profiles {
    
    sreads {
        params {
            input      = "$baseDir/assets/illumina_test.yml"
            output     = "sreads_test"
            tracedir   = "${params.output}/pipeline_info"
            max_memory = 6.GB
            max_cpus   = 2
            max_time   = '6.h'
        }
    }

    lreads {

        params {
            max_memory = 10.GB
            max_cpus   = 4
            max_time   = '6.h'
            // flye_additional_parameters = ' --asm-coverage 3 '
            canu_additional_parameters = 'stopOnLowCoverage=5 '
        }
        
        profiles {
            
            ont {
                params {
                    input      = "$baseDir/assets/lreads_test_ont.yml"
                    output     = "lreads_test_ont"
                    tracedir   = "${params.output}/pipeline_info"
                }
            }
            ont_hifi {
                params {
                    input      = "$baseDir/assets/lreads_test_ont_hifi.yml"
                    output     = "lreads_test_ont_hifi"
                    tracedir   = "${params.output}/pipeline_info"
                    high_quality_longreads = true
                }
            }
            pacbio {
                params {
                    input      = "$baseDir/assets/lreads_test_pacbio.yml"
                    output     = "lreads_test_pacbio"
                    tracedir   = "${params.output}/pipeline_info"
                }
            }

        }

    }

    hybrid {

        params {
            max_memory = 10.GB
            max_cpus   = 4
            max_time   = '6.h'
            canu_additional_parameters = 'stopOnLowCoverage=5 '
        }

        profiles {
            
            ont {
                params {
                    input      = "$baseDir/assets/hybrid_test_ont.yml"
                    output     = "hybrid_test_ont"
                    tracedir   = "${params.output}/pipeline_info"
                }
            }
            pacbio {
                params {
                    input      = "$baseDir/assets/hybrid_test_pacbio.yml"
                    output     = "hybrid_test_pacbio"
                    tracedir   = "${params.output}/pipeline_info"
                }
            }

        }

    }

}