/*
 * Configuration File to run fmalmeida/mpgap pipeline.
 */

/*
 * Customizable parameters
 */
params {

                /*
                 * General parameters
                 */

// Output folder name
      outdir = "output"

// Gives a custom prefix for sample results
// If is not given, the pipeline will use the reads names to create a custom prefix
      prefix = ""

// Number of threads to be used by each software.
      threads = 3

// Number of jobs to run in parallel. Be aware that each job (in parallel) can consume
// N threads (set above). Be sure to carefully check your resources before augmenting
// this parameter. For example: parallel_jobs = 2 + threads = 5 can consume until 10
// threads at once.
// If not given, let's nextflow automatically handle it.
      parallel_jobs = 

// This parameter only needs to be set if the software chosen is Canu or Haslr. Is optional for Flye.
// It is an estimate of the size of the genome. Common suffices are allowed, for example, 3.7m or 2.8g
      genomeSize = ""

                /*
                 * Input reads
                 *
                 * The pipeline will choose between: hybrid, shortreads or longreads only assemblies based on the combination of input files given.
                 *
                 * Remember to always double quote file paths.
                 *
                 * When running hybrid assemblies or mixing short read types it is advised to **avoid not required REGEX** and write the full file path, 
                 * using only the required REGEX for paired end reads ("{1,2}") when applicable. So that the pipeline does not load any different read 
                 * that also matches the REGEX and avoid confusions with the inputs.
                 */

// Short reads input files. They need to be specified in case of hybrid or shortreads-only assembly.
// If none of these are wanted it may be left in blank. The files might be single or paired ended. They just
// need to be properly identified as the examples below.
// Examples for illumina reads:
// Paired: shortreads_paired = 'SRR6307304_{1,2}.fastq'. For paired end reads it is **required** the “{1,2}” pattern.
// Single: shortreads_single = 'SRR7128258.fastq'
      shortreads_paired = ''
      shortreads_single = ''

                /*
                 * Advanced parameters
                 * Controlling the execution of assemblers
                 * It must be set as true to skip the software and false to use it.
                 * Also adding the possibility to pass additional parameters to them
                 * Additional parameters must be in quotes and separated by spaces.
                 */
      
      quast_additional_parameters = ""            // Give additional parameters to Quast while assessing assembly metrics.
                                                  // Must be given as shown in Quast manual. E.g. " --large --eukaryote ".
                                                  
      skip_spades    = false                      // Hybrid and shortreads only assemblies
      spades_additional_parameters = ""           // Must be given as shown in Spades manual. E.g. " --meta --plasmids "

      skip_shovill   = false                      // Paired shortreads only assemblies
      shovill_additional_parameters = ""          // Must be given as shown in Shovill manual. E.g. " --depth 15 "
                                                  // The pipeline already executes shovill with spades, skesa and megahit, so please, do not use it with shovill's ``--assembler`` parameter.

      skip_unicycler = false                      // Hybrid and shortreads only assemblies
      unicycler_additional_parameters = ""        // Must be given as shown in Unicycler manual. E.g. " --mode conservative --no_correct "


}


/*
 * Configuring Nextflow reports
 */

//Trace Report
trace {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_trace.txt"
    fields = "task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss"
}

//Timeline Report
timeline {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_nextflow_report.html"
}

/*
 * Setting up NF profiles
 * To use different profiles and executors
 * please read more at: https://www.nextflow.io/docs/latest/config.html#config-profiles
 */
profiles {
  standard {
    // Executor
    process.executor = "local"
    // QueueSize limit
    if (params.parallel_jobs || params.parallel_jobs != '') {
      qs = params.parallel_jobs
    }
    executor {
      name = "local"
      if (params.parallel_jobs || params.parallel_jobs != '') {
        queueSize = qs
      }
    }
  }
}
