/*
 * Configuration File to run fmalmeida/MpGAP pipeline.
 */

/*
 * Customizable parameters
 */
params {

                /*
                 * General parameters
                 */

//Output folder name
      outdir = 'output'

//Number of threads to be used by each software.
      threads = 3

                /*
                 * NF tower setup parameters
                 */

      use_tower   = false
      tower_token = ''

/*
 * Here we chose the assembly type wanted. This is required.
 * It must be set as one of these posibilities: longreads-only ; hybrid ; illumina-only
 */
      assembly_type = 'illumina-only'

/*
 * Here it is set the software wanted to perform the assembly with.
 * It must be set as true to use the software and false to skip it.
 */
      try_unicycler = false
      unicycler_additional_parameters = '' // Must be given as shown in Unicycler manual. E.g. '--mode conservative --no_correct'
      try_spades    = false
      spades_additional_parameters = '' // Must be given as shown in Spades manual. E.g. '--meta --plasmids'

                /*
                 * Short reads parameters
                 */
/*
 * Short reads input files. They need to be specified in case of hybrid or shortreads-only assembly.
 * If none of these are wanted it may be left in blank. The files might be single or paired ended. They just
 * need to be properly identified as the examples below.
 * Examples for illumina reads:
 * Paired: shortreads_paired = 'SRR6307304_{1,2}.fastq' // For reads SRR6307304_1.fastq and SRR6307304_2.fastq
 * Single: shortreads_single = 'SRR7128258*'
 */
      shortreads_paired = ''
      shortreads_single = ''

}

/*
 * Configuring Nextflow reports
 */

//Trace Report
trace {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}
//Timeline Report
timeline {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_nextflow_report.html"
}

/*
                      Setting NF tower configurations
*/
if (params.use_tower) {
env.TOWER_ACCESS_TOKEN = params.tower_token
tower {
    accessToken = params.tower_token
    enabled = params.use_tower
}
}

/*
 * Configuring Nextflow Scopes.
 * Do NOT change any of the following
 */

//Queue limit
executor.$local.queueSize = 1

//Docker usage
docker.enabled = true
//docker.runOptions = '-u $(id -u):root'
